@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Spacethink;
  src: url("./assets/fonts/spacethink.ttf");
}
@theme {
  --font-Poppins: "Poppins", sans-serif;
  --font-Playfair: "Playfair", sans-serif;
  --font-Spacethink: "Spacethink", sans-serif;
  --color-primary: #283618;
  --color-primaryLight: #606c38;
  --color-secondary: #bc6c25;
  --color-secondaryLight: #dda15e;
  --color-background: #fefae0;
}

body {
  background-color: var(--color-background);
  font-family: "Poppins", "sans-serrif";
  max-width: 1400px;
  margin: auto;
}
